@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Russo+One&display=swap');

@import 'tailwindcss';

body {
	@apply m-0;
	font-family: 'Montserrat Alternates', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-family: 'Russo One', sans-serif;
}

body {
	background-color: #f7f7f7;
	color: #444;
}

.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 32px;
	height: 100dvh;
}

.loader {
	width: 45px;
	aspect-ratio: 0.75;
	--c: no-repeat linear-gradient(#333 0 0);
	background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
	background-size: 20% 50%;
	animation: loading 1s infinite linear;
}

@keyframes loading {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
}
